<!DOCTYPE html>
{% extends 'newsportal/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
         <title> Личная информация </title>
</head>
<body>

 <! - Блок сообщений ->
{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}
    {% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if user.is_authenticated %}
 <a href="{% url'users:change_profile' %}"> Изменить профиль </a>
 <a href="{% url'account_logout' %}"> Выйти </a>
{% endif %}

<p>Welcome, {{ user.username }}</p>

<ul>
    <li>nick_name: {{ user.nick_name }}</li>
    <li>mobile: {{ user.mobile }}</li>
    <li>address: {{ user.address }}</li>
</ul>

</body>
</html>